body {
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#srodek {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	background-color: #f2f2f2;
}

h1 {
	animation: wave 2s infinite;
	text-align: center;
	color: #4CAF50;
}

#loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	padding: 20px;
	background-color: #f2f2f2;
}

	#loginForm input[type="text"], #loginForm input[type="password"] {
		margin: 10px 0;
		padding: 5px;
		border: dashed;
		border-radius: 5px;
		width: 80%;
		background-color: #f2f2f2;
	}

	#loginForm input[type="submit"] {
		background-color: #4CAF50;
		color: white;
		padding: 5px;
		border: none;
		border-radius: 5px;
		width: 40%;
		cursor: pointer;
		animation: pulse 1s infinite;
	}

#loginAtempts {
	color: red;
	animation: shake 0.5s;
}

#timeToLogin {
	color: #4CAF50;
}

@keyframes wave { /* definicja animacji */
	0% {
		transform: rotate(2deg); /* pocz¹tkowa pozycja */
	}

	10% {
		transform: rotate(-2deg); /* pozycja po 10% czasu trwania */
	}

	20% {
		transform: rotate(2deg); /* pozycja po 20% czasu trwania */
	}

	30% {
		transform: rotate(-2deg); /* pozycja po 30% czasu trwania */
	}
	/* itd. */
	100% {
		transform: rotate(2deg); /* koñcowa pozycja */
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes shake {
	0% {
		transform: translate(2px, 1px);
	}

	25% {
		transform: translate(-2px, -1px);
	}

	50% {
		transform: translate(2px, 1px);
	}

	75% {
		transform: translate(-2px, -1px);
	}

	100% {
		transform: translate(0);
	}
}
